---
layout: default
---

<article class="post">
  <div class="post-header{% if page.locations %} post-header-has-map{% else %} post-header-no-map{% endif %}">
  {% include post-map-header.html %}
  <div class="post-map-container"><h1>{{ page.title }}</h1></div>
  </div>


  {% if page.category %}
    <div class="post-meta"><a href="/card-catalog/#{{ page.category | downcase }}" class="post-type">{{ page.category }}</a> &#8212; {{ page.date | date: "%d %B, %Y" }}
    {% if page.updated %}<a href="#updated_{{ page.updated | date: '%m%d%Y' }}" class="post-date-updated">Updated {{ page.updated | date: "%B %d, %Y" }}</a>
    {% endif %}
  </div>
  {% endif %}
  {{ content }}
    <div class="post-footer">
    <div class="post-footer-meta">
      {% include locations.html %}
      {% include tags.html %}
    </div>
      {% include prev-next.html %}
  </div>
</article>
